.map {
    height: 400px;
    width: 100%;
}

#create-feature-bar {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    z-index: 99;
}